.body{
    
    margin: 0px;
    overflow-x: hidden;
    
    
}

.header{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: #0f1111;
    color: white;
    gap: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
   
    
    
    
    
    

}
.nav{
    border: .1px solid #0f1111;
    
    transition: 0.5s linear;
    align-items: center;
    justify-content: center;
    


}
.nav:hover{
     border: 1px solid white;
     
     

}
input:focus {
  border: 3px solid yellow;
}

.div1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    padding-bottom: 8px;
    gap: 20px;
    background-color: #1b2020;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0px;


    

}
.menu{
    border: .1px solid #1b2020;
    padding: 2px;
    transition: 0.5s linear;
}
.menu:hover{
    border: .1px solid white;
    
    

}
.sppa{
    display: none;
    position: absolute;
    margin-top: 10PX;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: .6s  ease-in;
    transform: scale(0.97);
    

}
.hov:hover .sppa{
    display: block;

}
.prime:hover .sppa{
    display: block;

}
.prime{
     border: .1px solid #1b2020;
    padding: 2px;
    transition: 0.5s linear;
    text-decoration: none;
    

}
.prime:hover{
    border: .1px solid white;

    
    
}
.input{

}
#join{
    background-color: yellow;
    border-radius: 20px;
    width: 100%;
    font-size: 20px;
    border: none;
    padding: 10px;
    font-weight: 400;
    
}
.div2{
    
    background-image: url(newbc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   
    
    
    


}
.row1{
    margin-top: -19px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-position: center;
    


}
.div3{
    width: 25%;
    background-color: white;
    padding: 10px 20px;
    margin-top: 240px;
   
}
.div4{
    width: 25%;
    background-color: white;
     padding: 10px 20px;
      margin-top: 240px;
}
.div5{
    width: 25%;
    background-color: white;
     padding: 10px 20px;
      margin-top: 240px;
}
.div6{
    width: 25%;
    background-color: white;
     padding: 10px 20px;
      margin-top: 240px;
}
.div7{
    width: 45%;


}
.div8{
    width: 45%;
}
#img1{
    height: 100px;
    width: 130px;
    transition: .3s linear;

}
#img1:hover{
    transform: scale(1.05);

}
#img2{
    height: 100px;
    width: 130px;
    cursor: pointer;
    transition: .3s;
}
#img2:hover{
     transform: scale(1.05);

}

#img1-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
    

}


#btn{
    cursor: pointer;
    color: rgb(102, 102, 245);
    font-size: 12px;
}
#p{
    font-size: 12px;
    margin-top: 0px;
}
#img3{
    height: 85px;
    width: 130px;
    cursor: pointer;
    transition: .3s;
}
#img3:hover{
     transform: scale(1.05);
}

#p1{
    margin-top: 25px;
    color: rgb(102, 102, 245);
    cursor: pointer;
}
.main{
    padding: 20px;
    background-color: rgb(230, 222, 222);
    
}
.row2{
    box-shadow: 5px 5px 10px gray;
    background-color: white;
}
.div9{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    gap: 20px;
}
.div10{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    gap: 70px;
}
.div11{
    width: 20%;
    cursor: pointer;
    
}
#bike{
    height: 200px;
    width: 300px;
    transition: 0.3s linear;
}
#bike:hover{
    transform: scale(1.05);
    

}
.div12{
    width: 15%;
    cursor: pointer;
}
#imggol{
    height: 200px;
    width: 200px;
    transition: .3s;
}
#imggol:hover{
    transform: scale(1.03);
    
    
}
.div13{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    gap: 24px;

}
.div14{
    width: 25%;
     background-color: white;
     padding: 10px 20px;
}
.div15{
     display: flex;
    flex-direction: row;
    padding: 20px 0px;
    gap: 10px;

}
#imgp1{
    justify-content: center;
    margin-left: 0px;
    width: 280px;
}
.div16{
    width: 40%;
    
}
.imgpro{
    width: 20px;
    height: 50px;
}
.div17{
     display: flex;
    flex-direction: row;
    

}
.div18{
    width: 40%;
}
#fp{
    text-align: center;

    background-color: #485769;
    height: 30px;
    margin-top: 0px;
    padding-top: 10px;
    color: white;
}
.div19{
    display: flex;
    flex-direction: row;
    padding: 40px 160px;
    background-color: #232F3E;
    margin-top: -17px;
}
.div20{
    width: 20%;
    list-style-type: none;
    color: white;
    padding: 20px 20px;
    
}
.list{
    
    cursor: pointer;
    color: white;
    text-decoration: none;
    
    
    

}
.list:hover{
    border-bottom: 1px solid white;
}
#div21{
    width: 23%;
     list-style-type: none;
    color: white;
     padding: 20px 40px;
}
.ama{
    background-color: #232F3E;
    height: 40px;
    margin-top: 30px;
    margin-left: 550px;
    position: relative;top: 7px;
    right: 130px;
    
}
.div21{
    background-color: #232F3E;
    border-top: 1px solid white;
}
.language{
    background-color: #232F3E;
    color: #999;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    position: relative;bottom: 20px;
    cursor: pointer;
    border: 1px solid #999;
}
#country{
    background-color: #232F3E;
    color: #999;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    position: relative;bottom: 20px;
    cursor: pointer;
    border: 1px solid #999;

}
.div22{
    background-color: #131A22;
    padding: 40px 200px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 1px;
}
.div23{
    width: 15%;
    list-style-type: none;
}
.lst{
     cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 15px; 
    

}
.lst:hover{
    border-bottom: 1px solid white;
}
.div24{
    
    background-color: #131A22;
    height: 100px;
    
    
}
.ul{
    margin-left: 450px;
    list-style-type: none;
    
    gap: 15px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}
#last{
    margin-left: 530px;
    color: #999
}
#col{
    color: #999;
}
.spa{
    color: #999;
}
#bhasa{
    height: 36px; width: 70px; background-color: #0f1111; color: white;
}
 @media (max-width: 390px) {
       
       .row1{
        display: none;
       }
       .div1{display: none;}
       #imggol{
        width: 40px;
        height: 80px;
       }
       .input{
        display: none;
       }
       .add{
        font-size: 10px;
       }
       .nav{
        font-size: 10px;
       }
       #bike{
        width: 50px;
        height: 70px;
        gap: 4px;
       }
       #cart{
        display: none;
       }
       #hide{
        display: none;
       }
       .body{
        overflow-x: hidden;
       }
       .div15{
        display: none;
       }
      .div19{
        padding: 0px;
      }
      .ama{
        margin-left: 30px;
        position: relative;right: 0px;
      }
      .div22{
        
        gap: 30px;
        padding-left: 78px;
        padding-right: 0px;
        
      }
      .ul{
        margin-left: 0px;
        

      }
      #last{
        margin-left: 0px;
        text-align: center;
      }
      .header{
        padding-left: 4px;
        gap: 10px;
        padding-right: 4px;
      }
      #bhasa{
        height: 22px;
      }
      #video{
        display: none;
      }
      #hh{
        font-size: 18px;
      }
      #p1{
        font-size: 10px;
      }
      .div20{
        font-size: 12px;
      }
      #div21{
        font-size: 12px;
      }
      .language{
        width: 40px;
      }
      
      #iframe{ 
        width: 300px;
      }
    }

    /* ipad media */

    @media (max-width: 768px) {
        .row1{
        display: none;
       }
       .div1{display: none;}
       #imggol{
        width: 90px;
        height: 90px;
       }
       .input{
        display: none;
        
        width: 100px;
       }
       .add{
        font-size: 20px;
       }
       .nav{
        font-size: 20px;

       }
       #bike{
        width: 100px;
        height: 100px;
        gap: 20px;
       }
       #cart{
        display: none
       }
       #hide{
        
       }
       .body{
        overflow-x: hidden;
       }
       .div15{
        display: none;
       }
      .div19{
        padding: 0px;
      }
      .ama{
        margin-left: 30px;
        position: relative;left: 90px;
      }
      .div22{
        
        gap: 70px;
        padding-left: 78px;
        padding-right: 0px;
        
      }
      .ul{
        margin-left: 0px;
        

      }
      #last{
        margin-left: 20px;
        text-align: center;
      }
      .header{
        padding-left: 3px;
        gap: 25px;
        padding-right: 0px;
      }
      #bhasa{
        height: 45px;
      }
      #video{
        display: none;
      }
      #hh{
        font-size: 30px;
      }
      #p1{
        font-size: 25px;
      }
      .div20{
        font-size: 20px;
      }
      #div21{
        font-size: 20px;
      }
      .language{
        width: 150px;
        margin-left: 200px;
      }
      
      #iframe{ 
        width: 680px;
      }
      #spann{
        display: none;
      }
      #topama{
        position: relative;left: 20px;
      }

    }

